# Byte-compiled / optimized / C extensions
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

site/

# Dev
experiments/
configs/
archive/
SbatchMan/
datasets/
jobs.yaml
modes.txt
test/